* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}


/*ancho de margen depende de cuantas imagenes quiera 3 o mas maxwidht*/

.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}


/*header*/

header {
    padding: 40px 0;
}

header .logo {
    text-align: center;
    margin-bottom: 40px;
}

header .logo p {
    color: #9B9B9B;
}


/*header DE BARRA DE BUSQUEDA  quitar 
l
l
v
*/

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #ffff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}


/* categorias  para las busquedas*/

header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a {
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categorias a.activo {
    color: #000;
}


/* trabajr con grid  y con estilos de imagen */

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 0px;
    margin: 10px;
    width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}


/*para el div 2*/

.grid .item2 {
    position: absolute;
    display: block;
    padding: 0px;
    margin: 10px;
    width: calc(100%);
}

.grid .item-contenido2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    color: black;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}


/*para el div 3 portafolio */

.grid .item3 {
    position: absolute;
    display: block;
    padding: 0px;
    margin: 10px;
    width: calc(100%);
}

.grid .item-contenido3-p {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.grid .item-contenido3 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    color: black;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 35px;
}


/*Over lay  presionar botonss */


/*VH avarca todo el ancho del dispositivo */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay img {
    max-width: calc(100%);
    justify-content: center;
}


/*vizualizacion de click de imagen texto*/

.overlay .descripcion {
    display: block;
    background: #fff;
    padding: 20px;
    text-align: justify;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 80%;
}


/*para el boton */

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar-popup {
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}


/*estilos para fooder */

footer .redes-sociales {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20x;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    display: block;
    width: 60px;
    height: 60px;
    background: black;
    color: white;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}

footer .redes-sociales .linkedin {
    background: #0E76A8;
}

footer .redes-sociales .whatsapp {
    background: #4ac959;
}

footer .redes-sociales .email {
    background: #B23121;
}

footer .redes-sociales .github {
    background: #000000;
}

footer .redes-sociales a i {
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a {
    animation: icono .5s ease;
}

@keyframes icono {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

footer .creado-por {
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    color: #9B9B9B;
}

footer .creado-por a {
    color: black;
}


/*mediaquery ajustar imagenes  a 2ble*/

@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
    .grid .item-contenido2 {
        width: 100%;
    }
}


/*BOTON DE NOCHE*/

.switchDark {
    background-color: #3494b1;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8rem;
    align-items: center;
    justify-content: space-between;
}

.switchDark span {
    width: 40px;
    height: 43px;
    line-height: 30px;
    display: block;
    color: rgb(0, 0, 0);
    background: none;
}

.switchDark::after {
    display: block;
    background: #000000;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}

.switchDark.active {
    background: #6b5e5e;
}

.switchDark.active::after {
    left: unset;
    right: 0;
}

body.dark {
    background: #0e2c40;
    color: rgb(0, 0, 0);
}